/* imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&display=swap');

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Archivo', sans-serif;
  overflow-x: hidden;
}

.homepage-container {
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
  }

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 2rem;
  padding-top: 80px;
  scroll-snap-align: start;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#home {
  background-image: url('/icons/background/backgroundBLUE.png');
}
#about {
  background-image: url('/icons/background/backgroundWHITE.png');
}
#signup {
  background-image: url('/icons/background/backgroundWHITE.png');
}
#contact {
  background-image: url('/icons/background/backgroundWHITE.png');
}

.homepage-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.middle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 240px;
  margin-bottom: auto;
  position: relative;
}

.main-text {
  font-family: 'Archivo', 'sans-serif';
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: black;
  text-align: center;
  overflow: hidden;
  animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
  
}
.scrollDownIndicator {
  position: absolute;
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
.scrollDownIndicator img {
  width: 58px;
  height: 58px;
  transition: transform 0.5s ease, opacity 0.3s ease;
}

.scrollDownIndicator:hover img {
  transform: translateY(40px) scale(0.7);
  opacity: 0.5;
}

.text-center {
  height: 202px;
  width: 535px;
}

/* Nav bar styling */ 
.logo-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 125px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-text {
  font-size: 2.5rem;
  font-family: 'Roboto mono';
  font-weight: bold;
  line-height: 1.2;
}

.menu-button {
  background: none;
  border: none;
  padding: 0 10px;
  cursor: pointer;
}

.menu-button img {
  width: 64px;
  transition: transform 0.2s ease-in-out;
  height: 64px;
}

.menu-button:hover img {
  transform: translateY(-4px);
  animation: reverberate 1s infinite
}
@keyframes reverberate {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

/* Nav menu from hamburger button styling */
.nav-menu{
  position: absolute;
  top: 50%;
  gap: 100px;
  right: 520px;
  display: flex;
  flex-direction: row;
  transform: translateY(-50%);
}

.nav-menu-items {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 30px;
  text-decoration: none;
  color: black;

  opacity: 0;
  transform: scale(0.5) translateX(-50px);
  transition: transform 0.5s ease-out, opacity 0.3s ease-out;
}

.nav-menu-items:hover {
  text-decoration: underline;
}

.nav-menu.show .nav-menu-items {
  opacity: 1;
  transform: scale(1) translateX(0);
}

.nav-menu.show .nav-menu-items:nth-child(4){
  transition-delay: 0.1s;
}
.nav-menu.show .nav-menu-items:nth-child(3){
  transition-delay: 0.2s;
}
.nav-menu.show .nav-menu-items:nth-child(2){
  transition-delay: 0.3s;
}
.nav-menu.show .nav-menu-items:nth-child(1){
  transition-delay: 0.4s;
}

.container {
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


  /*  Contact footer */
.contact-footer-container {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.contact-footer {
  background-color: white;
  padding: 10px 15px;
  width: 50px;
  border-radius: 25px;
  width: 421px;
  height: 80px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: black 1px;
  display: inline-block;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}

.contact-footer:hover {
  transform: translateY(-4px);
}

.contact-footer.darker-shadow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
}

.creator-text {
  font-family: 'Roboto Mono';
  font-weight: bold;
  font-size: 0.9rem;
  margin: 0;
  margin-bottom: 10px;
}
  
.icon-links {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.social-icon {
  width: 50px;
  height: 45px;
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

.social-icon:hover {
  animation: reverberate 2s infinite;
  transform: translateY(-4px);
}

/* about section styling */

.about-section p {
  font-family: 'Archivo' sans-serif;
  font-size: 24px;
  width: 50%;
  text-align: left;
  width: 400px;
}

.about-section h2 {
  color: #4169E1 ;
  font-family: 'Archivo' 'sans-serif';
  font-size: 30px;
  font-weight: bold;
  width: 200px;
}